/* Section Headings */

.section-heading {
    padding: 0 0 15px 0;
}

.section-subtitle {
    font-size: 18px;
    padding-top: 0;
}

.section-heading h3 {
    font-size: 14px;
    font-weight: bold;
    color: #ccc;
    letter-spacing: 2px;
    padding-bottom: 0;
}
.section-heading h2:after {
    background:#d2b356;
    content:"";
    display:block;
    width:30px;
    height:5px;
    margin-top:30px;
}

.text-center .section-heading h2:after {
    margin:30px auto 25px auto;
}

#banner .section-heading:before, .testimonial.classic footer:before {
    background: #d2b356;
}

/* Section Headings */

.section-heading {
    padding: 0 0 15px 0;
}

.section-subtitle {
    font-size: 18px;
    padding-top: 0;
}

.section-heading h3 {
    font-size: 14px;
    font-weight: bold;
    color: #ccc;
    letter-spacing: 2px;
    padding-bottom: 0;
}

#banner .section-heading:before {
    content: "";
    display: block;
    width: 30px;
    height: 5px;
    margin-top: 30px;
}

/* Section Headings */

.section-heading {
    padding: 0 0 15px 0;
}

.section-subtitle {
    font-size: 18px;
    padding-top: 0;
}

.section-heading h3 {
    font-size: 12px;
    font-weight: bold;
    color: #ccc;
    letter-spacing: 2px;
    padding-bottom: 0;
}
#banner .section-heading:before {
    content: "";
    display: block;
    width: 30px;
    height: 5px;
    margin-top: 30px;
}

#banner .section-heading:before, .testimonial.classic footer:before {
    background: #d2b356;
}

.section-heading h2:after {
    background:#d2b356;
    content:"";
    display:block;
    width:30px;
    height:5px;
    margin-top:30px;
}

.text-center .section-heading h2:after {
    margin:30px auto 25px auto;
}


/* --------- 6.3 Testimonials ---------- */

.testimonial {
    padding: 15px;
}

blockquote {
    position: relative;
}

.testimonial img {
    max-height: 120px;
    border-radius: 250em;
}

.testimonial footer {
    padding-top: 12px;
}

/* Style Classic - Avatar above Testimonial */

.testimonial.classic img {
    display: inline-block;
    margin-bottom: 25px;
}

.testimonial.classic q {
    display: block;
}

.testimonial.classic footer:before {
    display: block;
    content: "";
    width: 30px;
    height: 4px;
    margin: 10px auto 15px auto;
}

/* Style Big */

.testimonial.bigtest {
    padding-top: 0;
}

.testimonial.bigtest q {
    font-size: 22px;
}