/* --------- 6.4 Gallery ---------- */

#gallery img {
    max-height: 300px;
}

#gallery [class*='col-'] {
    padding: 0;
}

#gallery a {
    display: inline-block;
    position: relative;
    overflow: hidden;
}

#gallery a:hover img {
    opacity: 0.15;
    -moz-backface-visibility: hidden;
}

#gallery a:before {
    font-size: 2.2em;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    content: "+";
    width: 70px;
    height: 70px;
    border-radius: 100em;
    display: block;
    position: absolute;
    top: 55%;
    left: 50%;
    line-height: 72px;
    margin: -35px 0 0 -35px;
    opacity: 0;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear;
    vertical-align: middle;
}

#gallery a:hover:before {
    opacity: 1;
    top: 50%;
    left: 50%;
}