<section id="pricing">
    <div class="container">
      <div class="title-block">
        <h2>Plans and Pricing</h2>
        <p>The best software to develop perfect content and advertising strategies to increase leads and sales.</p>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="pricing-box">
            <h3 class="demo">Demo Version</h3>
            <h6>Free</h6>
            <small>forever</small>
            <p>Demo gives you full access to all features for 7 days</p>
            <div class="divider-light"></div>
            <ul>
              <li><i class="icon ion-md-checkmark-circle-outline demo"></i>Marketing plan</li>
              <li><i class="icon ion-md-checkmark-circle-outline demo"></i>Seo reporting tool</li>
              <li><i class="icon ion-md-checkmark-circle-outline demo"></i>Keywords explorer</li>
              <li><i class="icon ion-md-checkmark-circle-outline demo"></i>Competitive analysis</li>
              <li><i class="icon ion-md-checkmark-circle-outline demo"></i>Five projects - <span class="demo">¡New!</span></li>
            </ul>
            <div class="text-center">
              <a href="#" class="btn btn-demo">Demo version</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="pricing-box">
            <h3>Standard Version</h3>
            <h6>$9</h6>
            <small>per month</small>
            <p>Outrank your competitors with this amazing software</p>
            <div class="divider-light"></div>
            <ul>
              <li><i class="icon ion-md-checkmark-circle-outline"></i>Marketing plan</li>
              <li><i class="icon ion-md-checkmark-circle-outline"></i>Seo reporting tool</li>
              <li><i class="icon ion-md-checkmark-circle-outline"></i>Keywords explorer</li>
              <li><i class="icon ion-md-checkmark-circle-outline"></i>Competitive analysis</li>
              <li><i class="icon ion-md-checkmark-circle-outline"></i>Unlimited projects - <span>¡New!</span></li>
            </ul>
            <div class="text-center">
              <a href="#" class="btn btn-buy">Buy now</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="pricing-box">
            <h3>Agency Version</h3>
            <h6>$29</h6>
            <small>per month</small>
            <p>For agencies and businesses with extensive web presence</p>
            <div class="divider-light"></div>
            <ul>
              <li><i class="icon ion-md-checkmark-circle-outline"></i>Marketing plan</li>
              <li><i class="icon ion-md-checkmark-circle-outline"></i>Seo reporting tool</li>
              <li><i class="icon ion-md-checkmark-circle-outline"></i>Keywords explorer</li>
              <li><i class="icon ion-md-checkmark-circle-outline"></i>Competitive analysis</li>
              <li><i class="icon ion-md-checkmark-circle-outline"></i>Unlimited projects - <span>¡New!</span></li>
            </ul>
            <div class="text-center">
              <a href="#" class="btn btn-buy">Buy now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>